/* TABS
code from https://www.youtube.com/watch?v=hlQQUmi76jc */

.tabs {
  list-style: none;
  padding: 0rem;
  margin: 1rem 0;
  position: relative;
  height: 240px;

}

.tabs: after {
  content: "";
  clear: both;
  display: block;
  height: 280px;
}

.tabs li {
  float: left;
}

.tabs li > input {
  display: none;
}

.tabs li > label {
  display: inline-block;
  border: 0;
  height: 30px;
  line-height: 30px;
  padding: 0.5rem 1rem;
  background-color: #f2f2f2;
  cursor: pointer;
}

.tabs li > label:hover {
  background-color: #ef7e93;
  color: white;
}


.tabs .tab-content {
  display: none;
  position: absolute;
  left: 0;
  padding: 15px;
  background-color: #FFFDF4;
  border: 0;
  width: 100%;
  height: 240px;
  overflow-y: scroll;
}

/* hide scrollbar
code from https://stackoverflow.com/questions/16670931/hide-scroll-bar-but-while-still-being-able-to-scroll */
::-webkit-scrollbar {
    display: none;
}

/* function */
.tabs li > input:checked + label {
  background-color: #FFFDF4;
  color: black;
}

.tabs li > input:checked ~ .tab-content {
  display: block;
}


/* ACCORDION */
/* code from https://www.youtube.com/watch?v=8t8QCRMZCu4 */
.accordion-header {
  display: block;
  padding: 1rem;
  margin: 0.1rem 1rem 0 0;
  width: auto;
  text-decoration: none;
  background-color: #f2f2f2;
  color: black;
}

/* a.accordion-header:active {
  background-color: #FFFDF4;
} */

.accordion-content {
  padding: 0;
  height: 0;
  overflow: hidden;
  background-color: #FFFDF4;
  -webkit-transition:height 400ms ease;
  transition:height 400ms ease;

}

.accordion-content p {
  margin: 1rem;
}

.accordion-content:target {
  height: 400px;
  background-color: #FFFDF4;
  overflow-y: scroll;
}
