/* TABS
code from https://www.youtube.com/watch?v=hlQQUmi76jc */

.tabs {
  list-style: none;
  padding: 0rem;
  margin:1rem 1rem 0 ;
  position: relative;
  height: 420px;
  max-width: 70rem;

}

.tabs: after {
  content: "";
  clear: both;
  display: block;
  height: 350px;
}

.tabs li {
  float: left;
}

.tabs li > input {
  display: none;
}

.tabs li > label {
  display: inline-block;
  border: 1.5px solid #ef7e93;

  border-bottom: 0;
  height: 30px;
  line-height: 30px;
  padding: 0.5rem 1rem;
  background-color: #white;
  cursor: pointer;
}

.tabs li > label:hover {
  background-color: #a3cf83;
  border: 1.5px solid #a3cf83;
  border-left:0;
  border-bottom: 0;
  color: white;
}


.tabs .tab-content {
  display: none;
  position: absolute;
  left: 0;
  padding: 15px;
  background-color: white;
  border: 1.5px solid  #ef7e93;

  width: 100%;
  height: 360px;
  overflow-y: scroll;
}

/* hide scrollbar
code from https://stackoverflow.com/questions/16670931/hide-scroll-bar-but-while-still-being-able-to-scroll */
::-webkit-scrollbar {
    display: none;
}

/* function */
.tabs li > input:checked + label {
  background-color:  #ef7e93;;
  color: white;
}

.tabs li > input:checked ~ .tab-content {
  display: block;
}



/* ACCORDION */
/* code from https://www.youtube.com/watch?v=8t8QCRMZCu4 */

.accordion_review {
  max-width:30rem;
  margin:0;
}
.accordion-header, .accordion-content{
  max-width:73rem;
}
.accordion-header {
  display: block;
  padding: 1rem;
  margin: 0.1rem 1rem 0 0;
  width: auto;
  text-decoration: none;
  background-color: #ef7e93;
  color: white;
}

/* a.accordion-header:active {
  background-color: #FFFDF4;
} */

.accordion-content {
  padding: 0;
  height: 0;
  overflow: hidden;
  background-color: white;

  -webkit-transition:height 400ms ease;
  transition:height 400ms ease;
  width: 100%;
    padding-left:2rem;


}

.accordion-content p {


  width: 100%;

}

.accordion-content:target {
  height: 520px;
  background-color: white;
  border: 1.5 solid #ef7e93;
  overflow-y: scroll;
  width: 100%;
}

.review_container{
  margin: 1.5rem;
  margin-top: 2rem;

}
